<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Simbirsoft Aircraft</title>
    <link href="../../../web-resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../web-resources/css/core.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/core.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="text-center">
        <h2 th:text="'Aircraft'"></h2>
    </div>
    <form th:action="@{/newAircraft}" method="post" th:object="${aircraft}">
        <input type="hidden" name="cmd" th:value="${cmd}"/>
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-lg">Aircraft name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" th:field="*{name}"/>
            </div>
        </div>
        <table class="table table-condensed">
            <thead>
            <tr>
                <td>Class</td>
                <td>Capacity</td>
            </tr>
            </thead>
            <tr th:each="airPlace,stat : *{placeInfoList}">
                <!-- собираем обьект, ставим ссылки в обе стороны для самолета и его мест,
                если это новый обьект, то запрошенные поля будут пустыми и все равно произойдет инсерт -->
                <input type="hidden" th:field="*{placeInfoList[__${stat.index}__].airClass.name}"/>
                <input type="hidden" th:field="*{placeInfoList[__${stat.index}__].airClass.id}"/>
                <div th:if="${cmd} == 'edit'">
                    <input type="hidden" th:field="*{placeInfoList[__${stat.index}__].id}"/>
                    <input type="hidden" th:field="*{placeInfoList[__${stat.index}__].aircraft.id}"/>
                </div>
                <td th:text="*{placeInfoList[__${stat.index}__].airClass.name}"></td>
                <td><input type="number" min="0" th:field="*{placeInfoList[__${stat.index}__].capacity}"/></td>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-sm-13">
                <button type="submit" class="btn btn-primary" name="submit" value="save">Save</button>
                <button type="submit" class="btn btn-primary" name="submit" value="cancel">Cancel</button>
            </div>
        </div>

    </form>
</div>
<div class="text-center" th:insert="~{fragments/footer :: footer}">&copy; 2017 Simbirsoft</div>
</body>
</html>
