<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Simbirsoft Flights</title>
    <link href="../../../web-resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../web-resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h2 th:text="'Flight management list'"></h2>
    </div>
    <div class="text-left">
        <span th:utext="${message}"></span>
    </div>


    <table class="table table-condensed">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Aircraft</td>
            <td>Start city</td>
            <td>End city</td>
            <td>Date start</td>
            <td>Date end</td>
        </tr>
        </thead>
        <tr th:each="flight : ${flightList}">
            <td>
                <form th:action="@{/newFlight}" method="get">
                    <input type="hidden" name="idFlight" th:value="${flight.id}"/>
                    <input type="hidden" name="cmd" value="edit"/>
                    <button type="submit" class="btn btn-info" th:text="${flight.id}"> </button>
                </form></td>
            <td th:text="${flight.name}"></td>
            <td th:text="${flight.aircraft.name}"></td>
            <td th:text="${flight.startCity.name}"></td>
            <td th:text="${flight.endCity.name}"></td>
            <td th:text="${#dates.format(flight.start, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${#dates.format(flight.end, 'dd-MM-yyyy HH:mm')}"></td>

            <td>
                <form th:action="@{/flights}" method="post">
                    <input type="hidden" name="idFlight" th:value="${flight.id}"/>
                    <button type="submit" class="btn btn-info">del</button>
                </form></td>
        </tr>
    </table>
    <form th:action="@{/newFlight}">
        <button class="btn btn-lg btn-primary" type="Submit" th:text="Create"></button>
        <input type="hidden" name="cmd" value="create"/>
    </form>
</div>
<div class="text-center" th:insert="~{fragments/footer :: footer}">&copy; 2017 Simbirsoft</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>
