<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Simbirsoft Flight</title>
    <link href="../../../web-resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../web-resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="text-center">
        <h2 th:text="'Flight'"></h2>
    </div>
    <form th:action="@{/newFlight}" method="post" th:object="${flight}">
        <input type="hidden" name="cmd" th:value="${cmd}"/>
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-lg">Flight name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" th:field="*{name}" required="true"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-lg">Start city</label>
            <div class="col-sm-10">
                <select th:field="*{startCity.id}" required="true">
                    <optgroup th:each="country,stat : ${countryMap.keySet()}" class="form-group row"
                              th:label="${country}">
                        <option th:each="city : ${countryMap.get(country)}" name="hello" th:value="${city.id}"
                                th:text="${city.name}"></option>
                    </optgroup>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-lg">Start city</label>
            <div class="col-sm-10">
                <select th:field="*{endCity.id}" required="true">
                    <optgroup th:each="country,stat : ${countryMap.keySet()}" class="form-group row"
                              th:label="${country}">
                        <option th:each="city : ${countryMap.get(country)}" name="hello" th:value="${city.id}"
                                th:text="${city.name}"></option>
                    </optgroup>
                </select>
            </div>
        </div>

      <!-- start/end picker -->
        <div th:replace="fragments/datePickerPeriod :: datePickerPeriod">search</div>

        <div th:if="${cmd} == 'edit'">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-lg">Current aircraft</label>
                <div class="col-sm-10">
                    <p class="col-form-label col-form-label-lg" th:text="${flight.aircraft.name}" ></p>
                    <input type="hidden" name = "prevAircraftId" th:value="${flight.aircraft.id}"/>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-lg">Aircraft</label>
            <div class="col-sm-10">
                <select th:field="*{aircraft.id}">
                    <option th:if="${cmd} == 'edit'" th:value="${flight.aircraft.id}">Select one</option>
                    <option th:each="aircraft : ${aircraftList}" th:value="${aircraft.id}"
                            th:text="${aircraft.name}"></option>
                </select>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-lg">Is done</label>
            <div class="col-sm-10">
                <!-- <input type="date" th:value="${member.vacation.end}" class="form-control form-control-lg" th:field="*{vacation.end}"/> -->
                <input type="checkbox" th:field="*{done}" />
            </div>
        </div>


        <div class="text-left">
            <h2 th:text="'Crew:'"></h2>
        </div>

        <div th:if="${cmd} == 'edit'">
            <div class="text-left">
                <h4 th:text="'Current crew:'"></h4>
            </div>
            <div class="form-group row" th:each="member : ${currentCrew}">
                <label class="col-sm-2 col-form-label col-form-label-lg" th:text="${member.function.name}">Func
                    name</label>
                <div class="col-sm-10">
                    <p type="text" class="form-control form-control-lg" th:text="${member.name}"></p>
                </div>
            </div>
        </div>

        <div th:each="function,stat : ${peopleMap.keySet()}" class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-lg" th:text="${function}"></label>
            <div class="col-sm-10">
                <select th:field="*{crewMemberList[__${stat.index}__].id}">
                    <option th:if="${cmd} == 'edit'" value="">Select one</option>
                    <option th:each="member : ${peopleMap.get(function)}" name="hello" th:value="${member.id}" th:text="${member.name}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-13">
                <button type="submit" class="btn btn-primary" name="submit" value="save">Save</button>
                <a class="btn btn-primary" href="/flights">Cancel</a>
            </div>
        </div>


    </form>
</div>
<div class="text-center" th:insert="~{fragments/footer :: footer}">&copy; 2017 Simbirsoft</div>
</body>
</html>
