<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
    <link href="../../../web-resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../web-resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="/resources/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h2 th:text="'User list'"></h2>
    </div>
    <div class="text-left">
        <span th:utext="${message}"></span>
    </div>


    <table class="table table-condensed">
        <thead>
        <tr>
            <td>Id</td>
            <td>User name</td>
            <td>First name</td>
            <td>Last name</td>
            <td>Email</td>
        </tr>
        </thead>
        <tr th:each="user : ${userList}">
            <td>
                <form th:action="@{/newUser}" method="get">
                    <input type="hidden" name="idUser" th:value="${user.id}"/>
                    <input type="hidden" name="cmd" value="edit"/>
                    <button type="submit" class="btn btn-info" th:text="${user.id}"> </button>
                </form></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <form th:action="@{/admin}" method="post">
                    <input type="hidden" name="idUser" th:value="${user.id}"/>
                    <button type="submit" class="btn btn-info">del</button>
                </form></td>
        </tr>
    </table>
    <form th:action="@{/newUser}">
        <button class="btn btn-lg btn-primary" type="Submit" th:text="Create"></button>
        <input type="hidden" name="cmd" value="create"/>
    </form>
</div>
<div class="text-center" th:insert="~{fragments/footer :: footer}">&copy; 2017 Simbirsoft</div>
</body>
</html>
