<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Issues</title>
    <link href="../../../web-resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../web-resources/css/core.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/core.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h2 th:text="'Issue list'"></h2>
    </div>
    <div class="text-left">
        <span th:utext="${message}"></span>
    </div>
    <form th:action="@{/issue}" method="post">

        <table class="table table-condensed">
            <thead>
            <tr>
                <td>Id</td>
                <td>Problem</td>
                <td>Date Created</td>
                <td>User name</td>
                <td>Solved</td>
            </tr>
            </thead>
            <tr th:each="issue : ${issueList}">
                <td th:text="${issue.id}"></td>
                <td th:text="${issue.problem}"></td>
                <td th:text="${#dates.format(issue.created, 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${issue.user.name}"></td>
                <td><input type="checkbox" /></td>
            </tr>
        </table>

        <button class="btn btn-lg btn-primary" type="Submit" th:text="Save"></button>
    </form>
</div>
<div class="text-center" th:insert="~{fragments/footer :: footer}">&copy; 2017 Simbirsoft</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>
