<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body th:fragment="search">
<input type="hidden" name="cmd" value="search"/>
<div th:replace="fragments/datePickerPeriodDateTime :: datePickerPeriodDateTime"></div>  <!-- start/end picker -->
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-lg">Start city</label>
    <div class="col-sm-10">
        <select th:field="*{startCity.id}">
            <optgroup th:each="country,stat : ${countryMap.keySet()}" class="form-group row"
                      th:label="${country}">
                <option th:each="city : ${countryMap.get(country)}" th:value="${city.id}"
                        th:text="${city.name}"></option>
            </optgroup>
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-lg">End city</label>
    <div class="col-sm-10">
        <select th:field="*{endCity.id}">
            <optgroup th:each="country,stat : ${countryMap.keySet()}" class="form-group row"
                      th:label="${country}">
                <option th:each="city : ${countryMap.get(country)}" th:value="${city.id}"
                        th:text="${city.name}"></option>
            </optgroup>
        </select>
    </div>
</div>
<button type="submit" class="btn btn-info">
    <span class="glyphicon glyphicon-search"></span> Search
</button>
</body>
</html>